.chatContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center; /* Center content horizontally */
}

.logo {
  margin-top: 20px; /* Add some spacing from the top */
  order: -1; /* Ensure the logo appears above the messages and input bar */
}

.inputForm {
  display: flex;
  width: 100%;
  padding: 10px;
  padding-bottom: 40px;
  order: 2; /* Input form stays at the bottom */
  max-width: 800px; /* Limit width to a reasonable size for larger screens */
}

.input {
  flex-grow: 1;
  padding: 16px 24px;
  margin-right: 10px;
  border-radius: 60px;
  border: 2px solid transparent;
  font-size: 1em;
  background-color: #efefef;
}

.input:focus {
  outline: none !important;
  border-color: #000;
  background-color: white;
}

.button {
  padding: 8px 24px;
  background-color: #000;
  color: white;
  border: none;
  font-size: 1em;
  border-radius: 60px;
}

.button:disabled {
  background-color: lightgrey;
}

.messages {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px; /* Limit the maximum width of the messages */
  order: 1; /* Messages come just above the input form */
  white-space: pre-wrap;
}

.userMessage,
.assistantMessage,
.codeMessage {
  margin: 8px 0;
  padding: 8px 16px;
  border-radius: 15px;
  max-width: 100%; /* Allow messages to take up full width of their container */
  overflow-wrap: break-word;
}

.userMessage {
  align-self: flex-end;
  color: #fff;
  background-color: #000;
}

.assistantMessage {
  align-self: flex-start;
  background-color: #efefef;
}

.codeMessage {
  padding: 10px 16px;
  background-color: #e9e9e9;
  font-family: monospace;
  counter-reset: line;
}

.codeMessage > div {
  margin-top: 4px;
}

.codeMessage span {
  color: #b8b8b8;
  margin-right: 8px;
}
